@theme {
  --fluid-display-100: clamp(2rem, calc(1.8824vw + 1.4706rem), 3rem);
  --fluid-display-200: clamp(2.5rem, calc(4.7059vw + 1.1765rem), 5rem);
  --fluid-display-300: clamp(4rem, calc(11.6364vw + 0.7273rem), 8rem);
  --fluid-heading-100: clamp(1.0625rem, calc(0.3529vw + 0.9632rem), 1.25rem);
  --fluid-heading-200: clamp(1.35rem, calc(1.6941vw + 0.8735rem), 2.25rem);
  --fluid-heading-300: clamp(1.5rem, calc(2.3529vw + 0.8382rem), 2.75rem);
  --fluid-space-page-mx: clamp(0.5rem, calc(7.2vw - 0.85rem), 5rem);
}
