node_modules
.DS_Store
dist
dist-ssr
*.local
.nitro
.tanstack
.wrangler
.netlify
.output
.vinxi
__unconfig*
todos.json
api-data/symbols.gen.json
src/examples/*.highlighted.gen.json
src/docs-data/*.doc.gen.tsx
src/docs-data/index.gen.ts
